<mz-navbar [navbarClass]="'deep-purple darken-1 white-text text-white'">
    <button mz-button class="transparent ml-3 waves-effect waves-light white-text text-white" [flat]="'true'" (click)="toggleState()">
      <i mz-icon-mdi [icon]="'menu'"></i>
    </button>

    <mz-navbar-item-container [align]="'right'">
        <div class="mr-3">Bem vindo(a) {{userName.getValue()}}</div>
    </mz-navbar-item-container>
  </mz-navbar>

<div class="app-container" style="text-align:center">
  <div id="collapseEvent" class="nav navbar align-left" [@menuState]="this.state">
    <img class="img-thumb" src="{{ userPhoto.getValue() }}"/>
    <h3>{{userName.getValue()}}</h3>
    <p>Nível: colocar niveis</p>
    <p>Pontos: colocar pontos</p>
    <div class="item-box">
      <li class="nav-item" [routerLink]="['/home']">
        <i class="far fa-star fa-spin"></i> Home</li>
      <li class="nav-item" [routerLink]="['profile']">
        <i class="far fa-star fa-spin"></i> Perfil</li>
      <li class="nav-item" [routerLink]="['randomquote']">
        <i class="far fa-star fa-spin"></i> Citações</li>
      <li class="nav-item" [routerLink]="['vocabulario']">
        <i class="far fa-star fa-spin"></i> Vocabulário</li>
      <li class="nav-item" (click)="openConfirmDialog()">
        <i class="far fa-star fa-spin"></i> Logout</li>
    </div>
  </div>
  <router-outlet></router-outlet>
  <footer>
    <div [routerLink]="['/home/vocabulario']"><i class="fas fa-2x fa-book-reader"></i><br>Palavras</div>
    <div [routerLink]="['/home/randomquote']"><i class="fas fa-2x fa-quote-right"></i><br>Citações</div>
    <div [routerLink]="['/home/start']"><i class="fas fa-2x fa-home"></i><br>Home</div>
    <div [routerLink]="['/home/profile']"><i class="far fa-2x fa-smile"></i><br>Perfil</div>
    <div [routerLink]="['/home/training/flashcards/start']"><i class="fas fa-2x fa-dumbbell"></i><br>Exercitar</div>
  </footer>
</div>
