<main class="container-fluid">
    <div class="row card tile">
      <h5 class="col-12">Palavras por dia:</h5>
      <div class="col-6">
          Sua Meta: <span class="meta">{{ userMeta }}</span>
      </div>
      <div class="col-6">
        Faltam: <span class="meta-faltando">{{ userMetaFaltando }}</span>
      </div>
    </div>
    <div class="row tile">
      <div class="col-6 card half">
        <h5>Palavra do dia: Teste</h5>
      </div>
      <div class="col-6 card half">
        <h5>Mascote</h5>
       </div>
      </div>
    <div id="user-graphics" class="row tile">
      <div class="col-6 card half">
        teste
      </div>
      <div class="col-6 card half">
        teste
      </div>
    </div>
</main>
