<main>
  <div class="card">
    <div class="card-header">Bem vindo ao Lingo treno!</div>
    <div class="card-body">
        <p class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
        quae ab illo inventore veritatis.</p>
    </div>
  </div>
  <div class="card">
    <h5>Palavras por dia:</h5>
    <div class="half">
        Sua Meta: <span class="meta">{{ userMeta }}</span>
    </div>
    <div class="half">
      Faltam: <span class="meta-faltando">{{ userMetaFaltando }}</span>
    </div>
  </div>
</main>
