<main>
    <div class="card">
      <h5>Palavras por dia:</h5>
      <div class="half">
          Sua Meta: <span class="meta">{{ userMeta }}</span>
      </div>
      <div class="half">
        Faltam: <span class="meta-faltando">{{ userMetaFaltando }}</span>
      </div>
    </div>
    <ul class="main-list">
      <li>Palavras</li>
      <li>Citações</li>
      <li>Exercitar</li>
      <li>Perfil</li>
      <li>Notícias</li>
      <li>Anotações</li>
    </ul>
    <div id="user-graphics">

    </div>
</main>
