<main>
  <div class="card row">
    <div class="col-md-6">
      <div class="col s6">
        <p>Pontos ganhos hoje:</p>
      </div>
      <div class="col s6">
        Pontos
      </div>
    </div>
    <form action="" class="form col-md-6">
      <div class="form-group">
          <label for="cards-number">Quantidade de palavras:</label>
          <select class="form-control" name="cards-number" id="number">
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
          <label for="language">Lingua:</label>
          <select class="form-control" name="language" id="language">
            <option value="en" selected>Inglês</option>
            <option value="fr">Francês</option>
            <option value="any">Todas</option>
          </select>
      </div>
        <input (click)="navigateToPlay()" class="btn btn-primary" type="button" value="Começar">
    </form>
  </div>
</main>
