<main>
  <header class="container-fluid">
    <h1>LingoTreno</h1>
    <h2>Acesse com o Google!</h2>
    <div id="login-box" class="btn-login">
      <!-- <button class="btn btn-login"> -->
        <a href="/auth/google">
          <span class="fa fa-google"></span>
          | Entrar com o Google!
        </a>
      <!-- </button> -->
    </div>
  </header>

  <div id="background-wrap">
    <div class="x1">
      <div class="cloud"></div>
    </div>

    <div class="x2">
      <div class="cloud"></div>
    </div>

    <div class="x3">
      <div class="cloud"></div>
    </div>

    <div class="x4">
      <div class="cloud"></div>
    </div>

    <div class="x5">
      <div class="cloud"></div>
    </div>
  </div>

</main>
