<main class="container-fluid">
    <mz-card
      class="deep-purple accent-3 white-text row"
      [horizontal]="true">
      <mz-card-title>
        Palavras de Hoje
      </mz-card-title>
      <mz-card-content class="d-flex justify-content-around">
        <div class="s6"> aprender: <span class="meta">{{ userMeta }}</span></div>
        <div class="s6"> Aprendidas: <span class="meta-faltando">{{ userMetaFaltando }}</span></div>
      </mz-card-content>
    </mz-card>
    <mz-card
    class="deep-purple accent-3 white-text row"
    [horizontal]="true">
    <mz-card-title>
      Card Title
    </mz-card-title>
    <mz-card-content class="d-flex justify-content-around">
      Sua Meta: <span class="meta">{{ userMeta }}</span>
      Faltam: <span class="meta-faltando">{{ userMetaFaltando }}</span>
    </mz-card-content>
    </mz-card>
    <mz-card
    class="deep-purple accent-3 white-text row"
    [horizontal]="true">
    <mz-card-title>
      Card Title
    </mz-card-title>
    <mz-card-content class="d-flex justify-content-around">
      Sua Meta: <span class="meta">{{ userMeta }}</span>
      Faltam: <span class="meta-faltando">{{ userMetaFaltando }}</span>
    </mz-card-content>
  </mz-card>
</main>
