main {
    display: flex;
    height: calc( 100vh - 120px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
}

.tile {
    height: 33%;
}

.meta {
    display: block;
    font-size: 3em;
    color: rgb(255, 184, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.meta-faltando {
    display: block;
    font-size: 3em;
    color: rgb(255, 67, 53);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}