<main class="">

  <alert class="alert" type="success" *ngIf="showAlert">Sucesso!</alert>
  
  <div class="">
    <div class="btn-group" dropdown>
      <button class="btn btn-top btn-primary waves-effect waves-light" (click)="getAnotherQuote()">Citação</button>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-top btn-primary dropdown-toggle waves-effect waves-light" aria-controls="dropdown-basic">
        Língua
        <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu waves-effect waves-light" role="menu" aria-labelledby="button-basic">
          <button role="menuitem" class="dropdown-item waves-effect waves-light" (click)="changeLanguage('en')">Inglês</button>
          <button role="menuitem" class="dropdown-item waves-effect waves-light" (click)="changeLanguage('fr')">Francês</button>
        </ul>
      <button class="btn btn-top btn-primary waves-effect waves-light" (click)="insertQuote()">Salvar citação</button>
    </div>
  </div>
    <div class="">
    <!-- template do contextmenu -->
    <context-menu>
      <ng-template contextMenuItem>
        <div>
          <h4>{{ this.clickedWord }}</h4>
          <label (click)="dontClose($event)">
            Tradução:
          </label>
          <input class="form-control" (keyup)="saveKeys($event);" (click)="dontClose($event)" type="text" name="meaning" placeholder="insira a tradução da palavra">
          <p><em>Sugestão: {{ this.wordTranslation.getValue() }}</em></p>
          <select (click)="dontClose($event)" class="form-control" id="howKnown">
            <option value="1">1-Desconhecida</option>
            <option value="2">2-Já vista</option>
            <option value="3">3-Familiar</option>
            <option value="4">4-Conhecida</option>
            <option value="5">5-Aprendida</option>
          </select>
          <br>
          <button mz-button class="btn btn-success btn-save waves-effect waves-light" (click)='insertWord()'>Salvar</button>
        </div>
      </ng-template>
    </context-menu>
    <!-- -->
      <div class="card">
        <div class="card-header">
          <div class="flex margin-bot">
            <h3 id="titulo">Citação!</h3><span class="badge deep-purple lighten-4 text-white">{{ usingLang }}</span> <ng-template #popTemplate>{{this.quoteTranslation.getValue()}}</ng-template>
            <button (click)="getTranslation()" type="button" class="btn-floating btn-small waves-effect waves-light"
                    [popover]="popTemplate" containerClass="translationPopover">
              <i mz-icon-mdi [icon]="'translate'"></i>
            </button>
            <button class="btn-floating btn-small waves-effect waves-light" (click)="getQuoteAudio()">
              <i mz-icon-mdi [icon]="'volume-high'"></i>
            </button>
          </div>
          <div>
            <!-- Controle do audio -->
            <audio [hidden]="!showAudioControls" controls id="quoteAudio">
              <source src="{{ audioSource.getValue() }}" type="audio/mp3">
            </audio>
            <!-- Fim controle do audio -->
          </div>
        </div>
        <app-spinner *ngIf="showSpin" ></app-spinner>
        <div *ngIf="showQuote" class="card-body">
          <i class="fas fa-quote-left fa-2x align-left"></i><br>
          <div class="blockquote mb-0" >
          <span appHighlightText (click)="onContextMenu($event, item)" *ngFor="let word of words">{{ word }} </span>
          </div>
          <i class="fas fa-quote-right fa-2x align-right"></i>
          <br>
          <div class="blockquote-footer" innerHTML="{{ quoteSource }}"></div>
        </div>
      </div>
  
    </div>
  </main>