.card {
  width: 100%;
}

.btn-margin:focus {
  outline: none;
  border: none;
}

.btn-right {
  float: right;
}

.btn-group {
  display: flex;
}

.btn-top {
  flex-grow: 2;
  height: 70px;
}

.alert {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 5;
  width: 100%;
}

#quoteAudio {
  width: 100%;
}

#titulo {
  display: inline-block;
  font-family: Mali, cursive;
}

.align-right {
  float: right;
}

.align-left {
  display: block;
  float: left;
}

/deep/ .translationPopover {
  height: 140px;
  width: 200px;
  margin: auto;
  overflow: auto;
}

.card-body {
  max-height: 60vh;
  overflow: scroll;
}

/deep/ .ngx-contextmenu .dropdown-menu {
  background-color: rgb(216, 215, 247);
  padding: 7px;
  text-align: center;
}

/deep/ .ngx-contextmenu li:first-child {
  border-top: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.margin-bot {
  margin-bottom: 5px;
}

.blockquote {
  clear: both;
}
.blockquote-footer {
  clear: both;
}

#dropdown-basic {
  left: 50% !important;
}