/* .app-container {
    min-height: calc(100vh - 70px);
}

:host ::ng-deep li {
    list-style: none;
    font-size: 1.5em;
}

:host ::ng-deep i {
    color: blueviolet
}

:host ::ng-deep a {
    color: rgb(71, 32, 107);
    text-decoration: none;
}

.btn-margin-bottom {
    margin: 10px
} */