<main class="d-flex justify-content-center">
  <mz-card class="position-top container center-align">
    <mz-card-content>
        <h2>LingoTreno</h2>
        <h4>Acesse com o Google!</h4>
        <hr>
        <a mz-button href="{{ url }}" class="light-blue"><i mz-icon-mdi [icon]="'google'" [align]="'left'"></i>Entre com o Google</a>
    </mz-card-content>
  </mz-card>

  <div id="background-wrap">
    <div class="x1">
      <div class="cloud"></div>
    </div>

    <div class="x2">
      <div class="cloud"></div>
    </div>

    <div class="x3">
      <div class="cloud"></div>
    </div>

    <div class="x4">
      <div class="cloud"></div>
    </div>

    <div class="x5">
      <div class="cloud"></div>
    </div>
  </div>

</main>
