<main>
  <p>Número de palavras:</p>
  <div class="card">
    <div class="card-body">
        <h5 class="card-title">Palavra</h5>
        <h1>TESTE</h1>
        <button class="btn btn-primary">Significado</button>
        <button class="btn btn-primary">Tradução</button>
    </div>
    <div class="card-header">
      <button class="btn btn-primary">opt</button>
      <button class="btn btn-primary">opt</button>
      <button class="btn btn-primary">opt</button>
      <button class="btn btn-primary">opt</button>
    </div>
  </div>
</main>
