.btn-margin {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.btn-margin:focus {
  outline: none;
  border: none;
}

.btn-round {
  width: 50px;
  height: 35px;
  border-radius: 10px;
  background-color: #909090;
  color: #fff;
  float: right;
  padding: .275rem .35rem;
}

.alert {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 5;
  width: 100%;
}

main {
  margin-top: 10px;
}

.align-right {
  float: right;
}

.align-left {
  display: block;
  float: left;
}

/deep/ .translationPopover {
  height: 140px;
  width: 200px;
  margin: auto;
  overflow: auto;
}

.card-body {
  max-height: 60vh;
  overflow: scroll;
}

/deep/ .ngx-contextmenu .dropdown-menu {
  background-color: rgb(216, 215, 247);
  padding: 7px;
  text-align: center;
}

.btn-save {
  width: 70%;
}

/deep/ .ngx-contextmenu li:first-child {
  border-top: none;
}
