<main class="container-fluid">

<div class="pagination-centered">
  <div class="btn-group" dropdown>
    <button class="btn btn-primary btn-margin" (@buttonAtt.done)="bounce()" [@buttonAtt]="this.bState" (click)="getAnotherQuote()">Citação</button>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-margin" aria-controls="dropdown-basic">
      Língua
      <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
      <button role="menuitem" class="dropdown-item" (click)="changeLanguage('en')">Inglês</button>
      <button role="menuitem" class="dropdown-item" (click)="changeLanguage('fr')">Francês</button>
    </ul>
    <button class="btn btn-primary btn-margin" (click)="insertQuote()">Salvar citação</button>
  </div>
</div>
  <div class="container-fluid">
    
    <div class="card">
      <div class="card-header">
        <h3> Citação! <span class="badge badge-secondary">{{ usingLang }}</span> </h3>
      </div>
      <app-spinner *ngIf="showSpin" ></app-spinner>
      <div *ngIf="showQuote" class="card-body">
        <div class="blockquote mb-0" innerHTML="{{ quoteText }}"></div><br>
        <div class="blockquote-footer" innerHTML="{{ quoteSource }}"></div>
      </div>
    </div>
    
  </div>
</main>
