<div class="app-container" style="text-align:center">
  <header id="barra-topo" class="navbar navbar-light bg-light">

<button class="navbar-toggler" type="button" (click)="toggleState()">
  <span class="dark-blue-text">
    <i class="fa fa-bars fa-1x"></i>
  </span>
</button>

    <!-- <span class="navbar-brand align-left">LearnQuotes!</span> -->
    <div>Bem vindo {{userName.getValue()}}</div>
  </header>

  <div id="collapseEvent" class="nav navbar align-left" [@menuState]="this.state">
    <img class="img-thumb" src="{{ userPhoto.getValue() }}"/>
    <h3>{{userName.getValue()}}</h3>
    <p>Nível: colocar niveis</p>
    <p>Pontos: colocar niveis</p>
    <div class="item-box">
      <li class="nav-item" [routerLink]="['/home']">
        <i class="far fa-star fa-spin"></i> Home</li>
      <li class="nav-item" [routerLink]="['profile']">
        <i class="far fa-star fa-spin"></i> Perfil</li>
      <li class="nav-item" [routerLink]="['randomquote']">
        <i class="far fa-star fa-spin"></i> Random</li>
      <li class="nav-item" (click)="openConfirmDialog()">
        <i class="far fa-star fa-spin"></i> Logout</li>
    </div>
  </div>
  <router-outlet></router-outlet>
  <footer>
    <div [routerLink]="['/home/vocabulario']"><i class="fas fa-2x fa-book-reader"></i><br>Palavras</div>
    <div [routerLink]="['/home/randomquote']"><i class="fas fa-2x fa-quote-right"></i><br>Citações</div>
    <div [routerLink]="['/home']"><i class="fas fa-2x fa-home"></i><br>Home</div>
    <div [routerLink]="['/home/profile']"><i class="far fa-2x fa-smile"></i><br>Perfil</div>
    <div [routerLink]="['/home']"><i class="fas fa-2x fa-dumbbell"></i><br>Exercitar</div>
  </footer>
</div>