<main>
  <p>Número de palavras: {{ this.sessionQuantity }}</p>
  <p>Língua: <span class="badge">{{ this.sessionLanguage }}</span></p>
  <div class="card">
    <div class="card-body">
        <button class="btn btn-secondary" (click)="this.showMeaning()" >Significado</button>
        <button class="btn btn-secondary" (click)="this.showTranslation()" >Tradução</button>
        <h5 class="card-title">Palavra</h5>
        <h1>{{ this.currentCard.word }}</h1>
        <h3 *ngIf="this.doShowMeaning">{{ this.currentCard.meaning }}</h3>
        <h3 *ngIf="this.doShowTranslation">{{ this.wordTranslation }}</h3>
    </div>
    <div class="card-header">
      <button class="btn btn-primary" (click)="chooseWordState(2)">Já vista</button>
      <button class="btn btn-primary" (click)="chooseWordState(3)">Familiar</button>
      <button class="btn btn-primary" (click)="chooseWordState(4)">Conhecida</button>
      <button class="btn btn-primary" (click)="chooseWordState(5)">Aprendida</button>
    </div>
    <button class="btn btn-danger">Finalizar</button>
  </div>
</main>
