<main>
  <mz-card>
    <mz-card-content>
      <p>Palavras: <span class="chip">{{ this.sessionQuantity }}</span></p>
      <p>Língua: <span class="chip">{{ this.sessionLanguage }}</span></p>
    </mz-card-content>
  </mz-card>

  <div class="card">
    <div class="card-body">
        <button class="btn-floating deep-purple-text text-lighten-1 btn-small waves-effect waves-light" (click)="this.showMeaning()"><i mz-icon-mdi [icon]="'lightbulb-outline'"></i></button>
        <button class="btn-floating btn-small waves-effect waves-light" (click)="this.showTranslation()" ><i mz-icon-mdi [icon]="'translate'"></i></button>
        <h1>{{ this.currentCard.word }}</h1>
        <h4 *ngIf="this.doShowMeaning">{{ this.currentCard.meaning }}</h4>
        <h4 *ngIf="this.doShowTranslation">{{ this.wordTranslation }}</h4>
    </div>
    <div class="card-header">
      <button mz-button class="waves-effect waves-light" (click)="chooseWordState(2)">Já vista</button>
      <button mz-button class="waves-effect waves-light" (click)="chooseWordState(3)">Familiar</button>
      <button mz-button class="waves-effect waves-light" (click)="chooseWordState(4)">Conhecida</button>
      <button mz-button class="waves-effect waves-light" (click)="chooseWordState(5)">Aprendida</button>
    </div>
    <button class="btn btn-danger">Finalizar</button>
  </div>
</main>
