main {
    display: flex;
    height: calc(100vh - 120px);
    flex-direction: column;
}

.card {
    display: flex;
    width: 80%;
    margin: auto;
}

button {
    margin: 5px;
}

.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-bottom-2 {
    padding-bottom: 5px !important;
}